.App {
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 60vw;
  flex: 1;
  padding: 20px;
}

.aside {
  width: 20vw;
  margin: auto;
}

button {
  width: 60px;
}